<!doctype html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>{% block title %}{% endblock %}{{ config["PAGE_SUFFIX"] }}</title>
        <!-- Meta Tags -->
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('layout.static', filename='style.css') }}">
        {% block header %}{% endblock %}
    </head>
    <body>
        {% block layout %}{% endblock %}
        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>