{% extends 'base.html'%}
{% block layout %}
<!-- layout -->
<div class="d-flex flex-column flex-md-row vh-100 {{ config_option('portal.background', 'bg-white') }}">
    {% if config.get("NAVIGATION_MODE", "text") == "text" %}
        {% include "sidebars/text.html" with context %}
    {% elif config.get("NAVIGATION_MODE") == "icon" %}
        {% include "sidebars/icon.html" with context %}
    {% endif %}
    <!-- content -->
    <section class="flex-grow-1 d-flex flex-column overflow-auto">
        <!-- header -->
        <header>
            <nav class="navbar border-bottom px-3 {{ config_option('portal.header', 'navbar-light border-secondary') }}">
                <h1 class="{{ config_option('portal.header_title', 'text-dark') }}">{% block title %}&nbsp;{% endblock %}</h1>
                {% block title_call_to_action %}
                {% endblock %}
            </nav>
        </header>
        <!-- main -->
        <main role="main" class="container-fluid flex-grow-1 mt-2 {{ config_option('portal.content', 'bg-transparent') }}">
            {% block content %}
            {% endblock %}
        </main>
        <!-- footer -->
        <footer class="d-flex flex-row justify-content-center p-2 {{ config_option('portal.footer', 'bg-light') }}">
            <div>{{ config["FOOTER_MESSAGE"] }}</div>
        </footer>
    </section>
</div>
{% endblock %}