{% extends 'base.html'%}
{% block layout %}
<!-- Layout -->
<div class="d-flex flex-column flex-md-row vh-100 {{ config_option('portal.background', 'bg-white') }}">
    <!-- Side Section -->
    <section class="side-section {{ config_option('portal.side_section', 'bg-dark') }}">
        <!-- Navigation -->
        <nav role="navigation" class="navbar navbar-dark navbar-expand-md d-md-flex flex-md-column align-items-start h-100">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img class="{{ config_option('portal.logo', 'drg-logo') }}"
                    src="{{ url_for('layout.static', filename=config_option('portal.logo_filename', 'logo.png')) }}">
            </a>
            <!-- Toggle Icon -->
            <button type="button" class="navbar-toggler mt-1" data-bs-toggle="collapse" data-bs-target="#side-navigation"
                aria-controls="side-navigation" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-icon" aria-hidden="true"></span>
            </button>
            <!-- Items -->
            <div id="side-navigation" class="collapse navbar-collapse flex-column align-items-start w-100">
                <ul class="navbar-nav flex-column my-1 mt-md-4">
                    {% for item in config["NAVIGATION"] %}
                        <li class="nav-item {{ config_option('portal.navigation_section', 'text-white-50 text-capitalize') }}">
                            {{ item }}
                            <ul class="nav flex-column">
                                {% for sub_item in config["NAVIGATION"][item] %}
                                    <li class="nav-item ps-2 py-1">
                                        <a class="{{ config_option('portal.navigation_item', 'text-white') }}"
                                            href='{{ url_for(config["NAVIGATION"][item][sub_item]) }}'>
                                            {{ sub_item }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Logout -->
                <a class="btn w-100 mt-auto {{ config_option('portal.logout', 'btn-outline-success') }}"
                    href='{{ url_for("authentication.logout") }}'>
                    {{ config_option("portal.logout_text", "Logout") }}
                </a>
            </div>
        </nav>
    </section>
    <!-- Content -->
    <section class="d-flex flex-column flex-grow-1 overflow-auto">
        <!-- Header -->
        <header>
            <nav class="navbar border-bottom {{ config_option('portal.header_section', 'navbar-light border-secondary') }}">
                <h1 class="{{ config_option('portal.header', 'text-dark') }}">{% block title %}&nbsp;{% endblock %}</h1>
                <form class="inline-form">
                    {% block title_call_to_action %}
                    {% endblock %}
                </form>
            </nav>
        </header>
        <!-- Main Content -->
        <main role="main" class="container-fluid flex-grow-1 mt-2 {{ config_option('portal.content_section', 'bg-transparent') }}">
            {% block content %}
            {% endblock %}
        </main>
        <!-- Footer -->
        <footer class="d-flex flex-row justify-content-center p-2 {{ config_option('portal.footer_section', 'bg-light') }}">
            <div>{{ config["FOOTER_MESSAGE"] }}</div>
        </footer>
    </section>
</div>
{% endblock %}