/* Generic Elements */
img.app-logo {
    filter: invert(80%);
    width:4rem;
    aspect-ratio: auto;
    object-fit: contain;
}
/* Login Layout */
.login-form {
    max-width: 500px;
}
.login-form img.app-logo {
    width: 12rem;
}
/* Portal Layout */
@media (min-width: 768px) {
    .sidebar-text{
        flex-basis: 12rem !important;
    }
    .sidebar-icon{
        flex-basis: 5rem !important;
    }
}
a.navbar-brand img {
    width: 3rem;
}